/* General Styles */
body {
    font-family: 'Constantia','Futura','Poppins', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Baskerville Old Face','Libre Baskerville', serif;
}

#headshot {
    max-height: 25vw;
    width:auto;
}

footer p {
    font-size: 0.9rem;
}

/* Sidebar */
nav {
    position: sticky;
    top: 0;
}

.nav-link {
    font-size: 1.2rem;
    transition: all 0.3s;
}

.nav-link:hover {
    color: #17a2b8;
    text-decoration: underline;
}

/* Main Content */
main h2 {
    color: #007bff;
}
